# Web框架
fastapi==0.104.1
uvicorn[standard]==0.24.0
gunicorn==21.2.0

# 任务队列
celery==5.3.4
redis==5.0.1

# 数据库
sqlalchemy==2.0.41
pymysql==1.1.0
alembic==1.12.1

# 数据验证
pydantic>=2.8.0
pydantic-settings==2.1.0

# 服务发现
python-consul==1.1.0

# 核心逻辑
# sqlfluff==2.3.5
./local_wheels/sqlfluff-3.4.1-py3-none-any.whl
./local_wheels/sqlfluff_rules_hive_custom-0.1.0-py3-none-any.whl

# 工具库
python-multipart==0.0.6
python-dotenv==1.0.0
psutil==5.9.6

# 安全相关
cryptography==43.0.3 